#root {
  margin: 0 auto;
  text-align: center;
}
.intro-image{
    background: url("./assets/images/bg-intro-mobile.svg") no-repeat contain;
    background-position: 20% 40%;
}

@media only screen and (min-width:576px) {
  .intro-image{
    background: url("./assets/images/bg-intro-desktop.svg") no-repeat;
    background-position: left top;
}
}