@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;
    z-index: 0;
    background-color: #fafafa;
}
.heading{
    color: #2d314d;
}
p{
    color: 	#9698a6;
}
.intro-image{
    background: url("./assets/images/bg-intro-mobile.svg");
}





